body{
    background-color: #42A3DE;
}

div.container{
    background-color: #ffffff;
    margin: auto;
    width: 40%;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px; 
    margin-top: 35px;
    margin-bottom: 35px;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px; 
    padding-bottom: 20px; 
}

div.mainForm{
    width:80%; 
    margin:0 10% 100px 10%;
}
form{
    width: 70%;
    margin: 0 15% 0 15%;
}

input, input:focus, textarea:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid #B2B7BD;
    color: #94989B;
    width: 80%;
    margin-bottom: 15px;
    margin-top: 20px;
    padding-left: 10px;
}


input[type=submit]{
    background-color: #FC376A;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 55px;
    width: 90%;
    margin-top: 7px;
}

